
@import url("//cdn.web-fonts.ge/fonts/arial-geo-bold/css/arial-geo-bold.min.css");


/* გარე დივი */
.anime-extention{
    font-family: "ALK Tall Nusxuri", sans-serif !important;
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
}

/* ზედა ლეიერზე დასმული ჩარჩო */
.anime-extention .banner{
    position: fixed !important;
    z-index: 999999 !important;
    width: 260px !important;
    top: 50%;
    transform: translate(-97%,-50%);
    min-height: 540px !important;
    background: #ee4a94b4!important;
    border-radius: 16px !important;
    box-shadow: 0 4px 30px #ee4a94 !important;
    backdrop-filter: blur(2.3px) !important;
    transition: 0.2s all;
    border: 1px solid rgba(255, 35, 249, 0.3) !important;
}

.anime-extention .banner:hover{
    transform: translate(0,-50%);
}
/* სათაური */
.anime-extention h1{
    width: 100% !important;
    margin-top:  50px !important;
    margin-bottom:  20px !important;
    font-size: 30px !important;
    backdrop-filter: 0 !important;
    letter-spacing: 3px !important;
    color: black !important;
    font-weight: 400 !important;
    text-align: center !important;
    filter: brightness(0.9) !important;
}

/* ფოტოები */
.anime-extention img{
    filter: grayscale(100%) !important;
    position: relative;
    width: 128px !important;
    height: 128px !important;
    transition: 0.4s !important;
    object-fit: cover !important;
    display: block !important;
    margin: auto!important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    border-radius: 50% !important;
}
/* ფოტოზე მაუსის მიტანისას */
.anime-extention img:hover{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    /* background-color: red !important; */
    padding: 20px !important;
    filter: grayscale(0%) !important;
    cursor: pointer !important;
    
}
/* პოპაპი */
.anime-extention .popup{
    height: 100px !important;
    width: 300px !important;
    filter: brightness(0.9) contrast(1.9) ;  
    color: rgb(21, 5, 201) !important;
    text-align: center !important;
    opacity: 0;
    transition: 0.2s;
    text-decoration: none !important;
    position: absolute !important;
    z-index: 100 !important;
    font-size: 35px !important;
    font-weight: bold !important;
    line-height: 10px !important;
    padding: 10px !important;
    margin-top: 20px !important;
    margin-left: 210px !important;
    border-radius: 20px !important;
    overflow: hidden!important;
    float: left!important;
    background-color: #ff24f8c1 !important;
    backdrop-filter: blur(20px) !important;
    

}
/* პოპაპი აქტიური */
.anime:hover  .popup{
    opacity: 1
}

.anime-extention .popup p{
    font-family: "Arial GEO Bold", sans-serif !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    margin: 10px !important;
    letter-spacing: 1px !important;
    width: 100% !important;
    height: 100% !important;
    line-height: normal!important;
}

/* ტივტივის ანიმაცია */
.floating { 
    animation-name: floating !important;
    animation-duration: 3s !important;
    animation-iteration-count: infinite !important;
    animation-timing-function: ease-in-out!important;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px) !important; }
    50%  { transform: translate(0, 15px) !important; }
    100%   { transform: translate(0, -0px) !important; }   
}